@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between align-items-center mt-n50" style="top: -15px">

    <img src="~/pictures/macbookimg.svg" />
    <h1 class="ml-auto align-items-end">Jedinečná aplikace <b>pro všechno</b></h1>
</div>