body {
    margin: 0;
    overflow: hidden;
  }
  
  body::before,
  body::after,
  body div::before,
  body div::after {
    content: "";
    position: fixed;
    width: 50vw;
    height: 50vh;
    opacity: 0.6;
    background-image: url('../../public/logo.svg');    ;
    filter: blur(5px);
    background-repeat: no-repeat;
    
  }
  
  body::before {
    top: 50px;
    left: 50px;
  }
  
  body::after {
    top: -50px;
    right: -580px;
  }
  
  body div::before {
    bottom: -200px;
    left: 80px;
  }
  
  body div::after {
    bottom: -50px;
    right: -300px;
  }

  
  